ChangeLog
Thunar.pot
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
intltool-*
libtool
ltmain.sh
mkinstalldirs
missing
stamp-h1
.*.swp
[Tt]hunar-*.tar.bz2
[Tt]hunar-*.tar.gz
core.*
core
*.core
*.desktop
*.desktop.in
*.service
*.policy
org.xfce.thunar.appdata.xml
thunar.appdata.xml
gtk-doc.make
Thunar.spec
docs/.*.swp
docs/*.1
docs/design/.*.swp
docs/manual/.*.swp
docs/manual/*/.*.swp
docs/manual/*/Thunar.xml
docs/manual/*/html
docs/manual/*/*.stamp
docs/manual/*/images/.*.swp
docs/papers/.*.swp
docs/reference/.*.swp
docs/reference/thunarx/xml
docs/reference/thunarx/html
docs/reference/thunarx/*.stamp
docs/reference/thunarx/.*.swp
docs/reference/thunarx/*.bak
docs/reference/thunarx/thunarx-decl-list.txt
docs/reference/thunarx/thunarx-decl.txt
docs/reference/thunarx/thunarx-overrides.txt
docs/reference/thunarx/thunarx-undeclared.txt
docs/reference/thunarx/thunarx-undocumented.txt
docs/reference/thunarx/thunarx-unused.txt
docs/reference/thunarx/thunarx.args
docs/reference/thunarx/thunarx.hierarchy
docs/reference/thunarx/thunarx.interfaces
docs/reference/thunarx/thunarx.prerequisites
docs/reference/thunarx/thunarx.signals
docs/reference/thunarx/version.xml
docs/reference/thunarx/tmpl/*.bak
docs/reference/thunarx/tmpl/.*.swp
docs/reference/thunarx/tmpl/thunarx-unused.sgml
examples/.*.swp
examples/tex-open-terminal/.*.swp
icons/.*.swp
icons/16x16/.*.swp
icons/24x24/.*.swp
icons/48x48/.*.swp
icons/scalable/.*.swp
pixmaps/.*.swp
plugins/.*.swp
plugins/thunar-apr/.*.swp
plugins/thunar-sbr/.*.swp
plugins/thunar-sendto-email/thunar-sendto-email
plugins/thunar-sendto-email/thunar-sendto-email.desktop
plugins/thunar-sendto-email/.*.swp
plugins/thunar-tpa/thunar-tpa-bindings.*
plugins/thunar-tpa/thunar-tpa.desktop
plugins/thunar-tpa/thunar-tpa.desktop.in
plugins/thunar-tpa/.*.swp
plugins/thunar-tpa/thunar-tpa
plugins/thunar-uca/.*.swp
plugins/thunar-uca/uca.xml
plugins/thunar-uca/thunar-uca.gresource.c
po-doc/.*.swp
po-doc/.xml2po.mo
po/Makefile.in.in
po/.*.swp
po/*.gmo
po/*.mo
po/POTFILES
po/.intltool-merge-cache*
po/stamp-*
tests/*.loT
tests/.*.swp
tests/core.*
tests/*.core
tests/data/.*.swp
thunar/*.loT
thunar/.*.swp
thunar/thunar
thunar/thunar-dbus-freedesktop-interfaces.[ch]
thunar/thunar-dbus-service-infos.[ch]
thunar/thunar-fallback-icon.c
thunar/thunar-thumbnail-cache-proxy.[ch]
thunar/thunar-thumbnail-frame.c
thunar/thunar-thumbnailer-manager-proxy.h
thunar/thunar-thumbnailer-proxy.[ch]
thunar/thunar-marshal.[ch]
thunar/thunar-resources.[ch]
thunar/Thunar
thunar/core.*
thunar/*.core
thunar/thunar-*-ui.h
thunar/stamp-thunar-*.*
thunarx/.*.swp
thunarx/*.pc
thunarx/*.gir
thunarx/*.typelib
thunarx/thunarx-alias*.[ch]
thunarx/thunarx-config.h
*.o
*.lo
*.la
.libs
.deps
thunar-vfs
config.h.in~
configure.ac
gtk-doc.m4
test-driver
m4/*
!m4/introspection.m4
