<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
 xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
 xmlns:foaf="http://xmlns.com/foaf/0.1/"
 xmlns:gnome="http://api.gnome.org/doap-extensions#"
 xmlns="http://usefulinc.com/ns/doap#">

 <name xml:lang="en">thunar</name>
 <shortdesc xml:lang="en">Modern, fast and easy-to-use file manager for Xfce</shortdesc>
 <homepage rdf:resource="http://thunar.xfce.org"/>
 <mailing-list rdf:resource="http://foo-projects.org/mailmain/listinfo/xfce4-dev"/>

 <maintainer>
  <foaf:Person>
    <foaf:name>Jannis Pohlmann</foaf:name>
    <foaf:mbox>mailto:jannis@xfce.org</foaf:mbox>
    <gnome:userid>jannis</gnome:userid>
  </foaf:Person>
 </maintainer>
 <developer>
  <foaf:Person>
    <foaf:name>Nick Schermer</foaf:name>
    <foaf:mbox>mailto:nick@xfce.org</foaf:mbox>
    <gnome:userid>nick</gnome:userid>
  </foaf:Person>
 </developer>
 <developer>
  <foaf:Person>
    <foaf:name>Benedikt Meurer</foaf:name>
    <foaf:mbox>mailto:benny@xfce.org</foaf:mbox>
    <gnome:userid>benny</gnome:userid>
  </foaf:Person>
 </developer>
</Project>
